.header_left>img{
    height:70px;
    object-fit: contain;
}

.header_left{
    display: flex;
    align-items: center;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: black;
}

.icon{
    color: white;
}
